@import '../../index.scss';

.leftbar{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;

    .leftbarWrapper{
        padding: 20px;

        .leftbarList{
            padding: 0;
            margin: 0;
            list-style: none;

            .leftbarListItem{
                @include flex-center;
                margin-bottom: 20px;

                .leftbarListItemIcon{
                    margin-right:15px;
                }
            }
        }
        .leftbarButton{
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
        }
        .leftbarBottomLine{
            margin: 20px 0;
        }
        .leftbarFriendsListTitle{
            margin-bottom: 20px;
        }
        .leftbarFriendsList{
            padding: 0;
            margin: 0;
            list-style: none;            
        }
    }
}
.leftbar::-webkit-scrollbar{
    width: 5px;
}
.leftbar::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.leftbar::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}