.userInfoTitle{
    font-size: 18px;
    margin-bottom: 30px;
}
.userInfoItem{
    margin-bottom:10px;

    .userInfoItemKey{
        margin-right: 10px;
    }
    .userInfoItemValue{
        font-weight: 300;
    }
}