@import '../../index.scss';

.rightbar{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    flex: 3.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;

    .rightbarWrapper{
        padding: 20px 20px 0 0;

        .userFriends{
            .userFriendsTitle{
                margin-bottom: 20px;
            }
            .userFriendsList{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0;
                padding: 0;

                .leftbarFriend{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    cursor: pointer;
                    width: 25%;

                    .leftbarFriendProfilePicture{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 0;
                    }
                    .leftbarFriendName{
                        text-align: center;
                        margin-top:5px;
                    }
                }
            }
        }
        .rightbarBottomLine{
            margin: 20px 0;
        }
    }
}
.rightbar::-webkit-scrollbar{
    width: 5px;
}
.rightbar::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.rightbar::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}